.SearchTrend{
    margin-top: 2em;
    border-bottom: 1px solid $placeholder-background;
    padding-bottom: 1.3em;
}
.SearchTrend-Keyword{
    text-transform: inherit;
    margin-right: .3em;
    font-size: 14px;
}