//Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=vietnamese');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

//Title IOS
.title-default {
  font-size: 2em;
  font-weight: bold;
}
//Title android
.md .title-default {
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 1.25em;
  font-weight: 500;
}
h2 {
  font-size: 1em;
  font-weight: 500;
}
h3 {
  font-size: 0.875em;
  font-weight: 500;
}
h4 {
  font-size: 1em;
  font-weight: 500;
}
h5 {
  font-size: 1em;
  font-weight: 500;
}
p {
  line-height: 1.2;
  font-size: 1em;
}
a {
  font-size: 1em;
}
