//Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: $normal;
  font-size: 17px;
}
//Title IOS
.title-default {
  font-size: 2em;
  font-weight: bold;
}
//Title android
.md .title-default {
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

h4 {
  font-size: 0.9em;
  font-weight: bold;
}

p {
  font-size: 1em;
  line-height: 1.2;
}

a {
  font-size: 0.875em;
  color: $primary;
}
