.Section {
  margin-bottom: 1.5em;
}
.Section-Header {
  padding: 0 10px 0 10px;
  h3 {
    margin-bottom: 0;
  }
}
.Section-Content {
  p {
    font-size: 0.9em;
    color: var(--ion-color-primary);
    font-weight: 500;
    &:first-of-type {
      color: $placeholder;
      font-weight: normal;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }
}
