.Cart-count{
    position: relative;
    top: -6px;
    left: -7px;
    background-color: var(--ion-color-primary);
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 11px;
}